body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    background-image: url('../img/background.svg'); 
    background-size: contain;
    background-repeat:no-repeat;
    background-position: top center;
 }

.banner {
    position: relative;
    width: 100%;
    padding-bottom: calc(1300 / 3500 * 100%);
    display: flex;
    margin: 0 auto;

}
.banner > * {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner .logos {
    position: relative;
    top: 2%;
    width: 100%;
	height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.banner .logos img {
    max-height: 80px;
    height: auto;
}

.banner .overlay {
    background-color: rgba(0, 0, 0, 0.3); /* Opcional: para escurecer a imagem de fundo */
    padding: 20px;
    text-align: center;
}

.banner h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner p {
    font-size: 1.2em;
    margin: 10px 0 0;
}


header {
    color: white;
    text-align: center;
    padding: 1em 0;
}
.presentation {
    margin: 20px auto;
    width: 90%;
    text-align: justify;
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    padding: 1px 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.session {
    margin: 20px auto;
    width: 90%;
    text-align: justify;
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    padding: 1px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color:#FFFFFF
}

.buttons{
	display: flex;
    align-items: flex-end;
    justify-content: center;
}
button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #1976D2D0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-size:1em;
}

button:hover {
    background-color: #0D47A1;
}
.buttons button:hover {
    background-color: #0056b3;
}

.button-link {
    display: inline-block;
	text-align:center;
	height: auto;
    color: #333;
    text-decoration: none;
    border: none;
    transition: transform 0.2s;
    font-size: 1.2em;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 30px;
	background-color: #f5f5f5C0;
	width:20%;
}
.button-link:hover{
	transform: translateY(-5px);
}
.button-link img{
	max-width:60%;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.card {
    background: #FFFFFFC0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1em;
    max-width: 300px;
    padding: 1em;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 5px;
    max-width: 100%;
}

.card h2 {
    color: #2196F3;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.card p {
    margin: 0.5em 0;
}

.card p strong {
    font-weight: bold;
}

.card p i {
    font-style: italic;
}
.headings{
	width: 80%;
	background-color: #FFFFFFC0;
	margin: 20px auto;
    text-align: justify;
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.zoom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.zoom-modal .zoom-content {
    position: relative;
    margin: auto;
    padding: 1em;
    max-width: 90%;
    max-height: 80%;
    text-align: center;
}

.zoom-modal .zoom-content img {
    max-width: 100%;
    max-height: 70vh;
    margin-bottom: 1em;
}

.zoom-modal .zoom-content #zoomInfo {
    color: white;
    text-align: center;
}

.zoom-modal .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.zoom-modal .close:hover,
.zoom-modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.nav-btn {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.card {
    position: relative;
    width: 300px; /* Ajuste a largura conforme necessário */
    margin: 10px;
    display: inline-block;
}

.card iframe {
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    border: none;
    background: white;
}

.card h2, .card p {
    padding: 5px;
}
.metrics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.metric {
    text-align: center;
    flex: 1 1 calc(25% - 40px);
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
}

.info-card {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 80%;
}

.info-card:hover {
    transform: translateY(-5px);
}

.info-card img {
    width: 88px; /* Increased by 10% */
    height: 88px; /* Increased by 10% */
    margin-left: 20px;
}

.info-card-content {
    text-align: left;
}

.info-card-label {
    font-size: 3.3em; /* Increased by 10% */
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}

.metric p {
    margin: 5px 0 0;
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

.text-info {
    text-align: justify;
	padding: 50px;
    margin: 20px auto;
    width: 80%; /* Increased width */
    font-size: 1.2em;
    font-weight: normal; /* Removed bold by default */
    color: #333;
	background-color: #FFFFFFD0;
}

.text-info span {
    font-weight: bold; /* Only span elements will be bold */
}


#inventory {
    margin: 40px auto;
    width: 80%;
    text-align: center;
	background-color: #FFFFFFD0;
}

#inventory h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

#inventoryTable {
    text-align: left;
    font-size: 1.2em;
}

#inventoryTable h3, #inventoryTable h4 {
    margin: 10px 0 5px;
    padding-left: 20px; /* First level identation */
}

#inventoryTable h3:nth-child(odd), #inventoryTable h4:nth-child(odd) {
    background-color: #f5f5f5D0;
}

#inventoryTable h3:nth-child(even), #inventoryTable h4:nth-child(even) {
    background-color: #e0e0e0D0;
}

#inventoryTable h4 {
    margin: 10px 0 5px;
    padding-left: 40px; /* Second level identation */
}

#inventoryTable ul {
    list-style-type: none;
    padding-left: 80px; /* Final level identation increased */
    margin: 5px 0;
}

#inventoryTable li {
    margin: 3px 0;
    margin-left: 63px; /* Increased margin left for li */
    font-style: normal; /* Set font style to normal */
    list-style-type: none; /* Remove bullet points */
}

#credits {
    margin: 40px auto;
    width: 80%;
    text-align: left; /* Align text to the left */
    display: block;
    align-items: flex-start; /* Align logos to the top */
    background-color: #FFFFFFD0
}

#credits h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333333D0;
}

#credits p {
    font-size: 1.2em;
    color: #333000D0;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 170px); /* Adjusted width to make space for logos */
}

#credits .logos {
    display: flex;
    vertical-align: top; /* Align logos to the top */
    text-align: center;
}

#credits .logos img {
    display: block;
    margin: 10px auto;
    max-width: 80px;
    height: auto;
}
/* Estilos de carrossel */

.species-card {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #FFFFFFC0; /* Mantém o fundo consistente com outros cards */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Necessário para posicionar os botões de navegação */
    max-width: 500px; /* Limite de largura para cards */
    text-align: center; /* Centraliza o conteúdo */
    display: inline-block; /* Faz o card ser exibido em linha */
    width: 100%;
}

.species-header {
    font-size: 1.6em;
    color: #2196F3;
    margin-bottom: 15px;
    display: none;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    display: none; /* Esconde todos os itens */
}

.carousel-item.active {
    display: block; /* Mostra apenas o item ativo */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1976D2; /* Cor consistente com outros botões */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 10; /* Garante que os botões estejam acima dos outros elementos */
}

.carousel-btn:hover {
    background-color: #0056b3; /* Cor de hover consistente com outros botões */
}

.prev-btn {
    left: 10px; /* Posiciona o botão à esquerda */
}

.next-btn {
    right: 10px; /* Posiciona o botão à direita */
}

/* Ajustes para imagens e informações no carrossel */
.bird-image {
    width: 100%;
    height: 250px; /* Ajuste conforme necessário */
    border-radius: 5px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    margin-bottom: 10px;
}

.bird-info p {
    margin: 0.5em 0;
    font-size: 1em; /* Consistente com o restante do texto */
    color: #333;
    margin:15%;
}

.bird-info p strong {
    font-weight: bold;
}

.bird-info p i {
    font-style: italic;
}
bird-name {
    color:#1976D2
}

@media (max-width: 600px) {
    main {
        padding: 1em;
    }

    .card {
        margin: 1em 0;
    }
	.banner {
		position: relative;
		width: 100%;
		padding-bottom: calc(800 / 3500 * 100%);
		display: flex;
		margin: 0 auto;

	}
	.banner > * {
		position: absolute; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
